@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* body{
  background-image: white;
} */
.c-wrapper{
  position: absolute;
  top: 54%;
  left: 32%;
  transform: translate(-50%, -32%);
  margin-left: auto;
  margin-right: auto;
}
.c-content h1{
  padding: 25px 0px;
  font-family: 'Segoe UI Light';
  color: black;
}
.c-main{
  /* background-color: #F5F6F8; */
  background-color: #ffffff;
  border: 1.5px Solid Black;
 
  width: 600px;
  height: 470px;
  box-shadow: 0px 8px 60px -10px white;
  border-radius: 0px;
  padding:70px;
  padding-top:10px;
}
.c-content{
  padding-top:10px;
  padding-left:140px;
  font-family: 'Segoe UI Light';
}
/*inpuuuut*/
input[type=name] {
  background-color: white;
  background-image: url('https://image.flaticon.com/icons/svg/2089/2089773.svg');
  background-position:5px 15px;
  background-size:8%;
  background-repeat: no-repeat;
  padding-left: 50px;
}
input[type=text] {

  background-color: white;
  background-image: url('https://image.flaticon.com/icons/svg/633/633611.svg');
  background-position:5px 15px;
  background-size:9%;
  background-repeat: no-repeat;
  padding-left:50px;
}
input[type=month] {
  width :66%;
  background-color: white;
  background-image: url('https://image.flaticon.com/icons/svg/2693/2693507.svg');
  background-position:5px 15px;
  background-size:14%;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-bottom:13px;
  font-family: 'Segoe UI Light';
}
input[type=user] {
  width :32.5%;
  background-color: white;
  background-image: url('https://cdn1.iconfinder.com/data/icons/glyph-card-payment/32/credit_card_CVV_CVC_code_number-512.png');
  background-position:5px 15px;
  background-size:31%;
  background-repeat: no-repeat;
  padding-left: 50px;
}
input[type=address] {
  width :32%;
  background-color: white;
  background-image: url('https://image.flaticon.com/icons/png/512/967/967848.png');
  background-position:5px 15px;
  background-size:31%;
  background-repeat: no-repeat;
  padding-left: 50px;
}
input[type=street] {
  width :32%;
  background-color: white;
  background-position:5px 15px;
  background-size:31%;
  background-repeat: no-repeat;
  padding-left: 30px;
}
input[type=suburb] {
  width :33%;
  background-color: white;
  background-position:5px 15px;
  background-size:31%;
  background-repeat: no-repeat;
  padding-left: 28px;
}
input[type=phno] {
  background-color: white;
  background-image: url('https://image.flaticon.com/icons/png/512/455/455604.png');
  background-position:5px 15px;
  background-size:9%;
  background-repeat: no-repeat;
  padding-left:50px;
}

input{
  width:100%;
  padding: 15px 10px;
  margin: 3px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1.5px Solid Black;
}
.amount{
  float:right;
  right:0;
}

/*credit card*/
.c-card{
  background-image: linear-gradient(to bottom, Black, rgb(0, 0, 0));
  position:fixed;
  right:70%;
  top:25%;
  float:left;
  
  width:300px;
  height:200px;
  box-shadow: 8px 10px 0px 1px Grey ;
  border-radius: 10px;
  font-family: 'Segoe UI Light';
  border: 2px solid Black;
}

.c-visa{
  padding-left:200px;
  padding-top: 10px;
  font-style: italic;
  text-shadow: Grey 3px 0 1px;
  color:white;
  /*visa font*/
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.c-num{
  color:white;
  text-align:center;
  padding-top:30px;
  line-height:0;
}
.c-card h4{
  color:white;
  float:left;
  width:33%;
  text-align:center;
  padding-top: 30px;
  font-size: 15px;
}
